<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="box index">
      <h1>I video attualmenti publbicati <%= msg %></h1>
      <a href="/add-video">aggiungi video</a>
      <form action="/" method="POST">
        <label for="name">Nome:</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Nome"
          pattern="[a-zA-Z0-9]+"
          minlength="2"
          maxlength="20"
        />
        <input type="submit" value="invia" />

        <iframe src="https://vimeo.com/631011390" frameborder="0"></iframe>
      </form>
      <a href="/update-video">modifica</a>
    </div>
  </body>
</html>
